<h1>User page for: <%= @user.name %></h1>
<% if not @jobs.empty? %>
<ul>
<% @jobs.each do |job| %>
  <li>
    <span><%= job.title %></span>
    <span><%= job.description %></span>
  </li>
<% end %>
</ul>
<% else %>
<div>No Posted Jobs For <%= @user.name %></div>
<% end %>